## Introduction
I have recently enrolled in, and completed the Google Data Analytics Professional Certificate offered through Coursera.To finish the certificate, I will be completing a case study based around Cyclistic, a fictional bike-share company based in Chicago.

### About Cyclistic
Cyclistic is a Chicago bike-share company launched in 2016. They offer 5,824 bicycles that are geotracked and locked into a network of 692 stations across Chicago.The bikes can be unlocked from one station and
returned to any other station in the system anytime.

They offer three Cyclistic pricing plans: single-ride passes, full-day passes, and annual memberships.  Customers who purchase annual memberships are considered ‘Cyclistic Members’, while those purchasing single and day passes are considered ‘Casual’.  

Their large offering of bikes also offers some variety: standard two-wheeled bikes, reclining bikes, hand tricycles, and cargo bikes.

### The Scenario
I am a junior data analyst working in the marketing analyst team at Cyclistic.  

Lily Moreno, the director of marketing believes the company’s success depends on maximizing the number of annual memberships. Moreno has set a clear goal: Design marketing strategies aimed at converting casual riders into annual members. 

In order to do that, however, the marketing analyst team needs to better understand how annual members and casual riders differ, why casual riders would buy a membership, and how digital media could affect their marketing tactics. Moreno and her team are interested in analyzing the Cyclistic historical bike trip data to identify trends.

### Business Task
Analyze historical data to determine how casual riders and Cyclistic Members use the service differently and offer recommendations on how to convert casual riders into Cyclistic Members.

## Prepare

To answer this question I will be analyzing historical Cyclistic bike trip data for last 20 months (8 months in 2022 and 12 months in 2021).

 The data is reliable, free of any bias, and has been collected by Cyclistic and stored on the company’s database separated by month in CSV format.

### Data source Used

The data used for analysis in this case study will 
be 20yyxx-divvy-tripdata found here, where 'yy'is 21 for 2021 or 22 for 2022 and ‘xx’ 
is numbered 1-12 for the corresponding month, 
with 20 CSV files in total.  The data for this fictional 
company has been made available for use by Motivate International Inc.  

### Key points
* Each month contains every single trip that took place during that period.
* All personal customer information has been removed for privacy issues.
* Classic bikes were previously labeled ‘docked bikes’, they refer to the same thing.
* Classic bikes must start and end at a docking station, whereas electric bikes have a bike lock attached to them; thus, electric bikes can also start and end their trip locked up anywhere in the general vicinity of a docking station.
* The data should have no trips shorter than 1 minute or longer than 1 day. Any data that does not fit these constraints should be removed as it is a maintenance trip carried out by the Cyclistic team, or the bike has been stolen.

## Process

In [2]:
import pandas as pd
import datetime

In [72]:
#df1=pd.read_csv('/Users/adhiman/Documents/Excel Complete/Capstone/CyclisticDataSets/202101-divvy-tripdata.csv')
#df1.info()

Combining all the datasets into one big dataframe

In [3]:
import glob

# Get CSV files list from a folder
path = '/Users/adhiman/Documents/Excel Complete/Capstone/CyclisticDataSets'
csv_files = glob.glob(path + "/*.csv")

# Read each CSV file into DataFrame
# This creates a list of dataframes
df_list = (pd.read_csv(file) for file in csv_files)

# Concatenate all DataFrames
big_df   = pd.concat(df_list, ignore_index=True)

In [4]:
big_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9483215 entries, 0 to 9483214
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 940.6+ MB


#### Count Validation

Ran in terminal <br>
> cd /Users/adhiman/Documents/Excel Complete/Capstone/CyclisticDataSets'<br>
> wc -l *.csv (below is the output for same)<br>
96835 202101-divvy-tripdata.csv 
49623 202102-divvy-tripdata.csv
228497 202103-divvy-tripdata.csv
337231 202104-divvy-tripdata.csv
531634 202105-divvy-tripdata.csv
729596 202106-divvy-tripdata.csv
822411 202107-divvy-tripdata.csv
804353 202108-divvy-tripdata.csv
756148 202109-divvy-tripdata.csv
631227 202110-divvy-tripdata.csv
359979 202111-divvy-tripdata.csv
247541 202112-divvy-tripdata.csv
103771 202201-divvy-tripdata.csv
115610 202202-divvy-tripdata.csv
284043 202203-divvy-tripdata.csv
371250 202204-divvy-tripdata.csv
634859 202205-divvy-tripdata.csv
769205 202206-divvy-tripdata.csv
823489 202207-divvy-tripdata.csv
785933 202208-divvy-tripdata.csv<br>
9483235 total
</p>

In [ ]:
# row count of combined dataframe
big_df.shape #(9483215, 13)

(9483215, 13)

#### Correcting datatypes and column names for all the columns:

In [5]:
big_df['started_at']=pd.to_datetime(big_df['started_at'])
big_df['ended_at']=pd.to_datetime(big_df['ended_at'])

In [6]:
big_df.rename(columns={'member_casual':'member_type','rideable_type':'bike_type'},inplace=True)

In [7]:
big_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9483215 entries, 0 to 9483214
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   bike_type           object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_type         object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 940.6+ MB

#### Handling missing values

Identifying columns with nullvalues:
* start_station_id / start_station_name
* end_station_is / end_station_name
* end_lat / end_lng

In [ ]:
big_df.isna().sum()

ride_id                     0
bike_type                   0
started_at                  0
ended_at                    0
start_station_name    1247498
start_station_id      1247495
end_station_name      1338693
end_station_id        1338693
start_lat                   0
start_lng                   0
end_lat                  9084
end_lng                  9084
member_type                 0
dtype: int64

In [8]:
# total records having null values
big_df.isna().any(axis=1).sum()

1866164

Records where either start or end station are null: 720027 records for electric bikes 
Maximum electric bike data contains null.
bike_type
classic_bike       11945
docked_bike         2209
electric_bike    1852010

In [ ]:
big_df[(big_df['start_station_name'].isna()==True) | (big_df['end_station_name'].isna()==True)].groupby('bike_type')['ride_id'].count()

bike_type
classic_bike       11945
docked_bike         2209
electric_bike    1852010
Name: ride_id, dtype: int64

In [ ]:
## Electric bikes are the only type for all 720027 records where startstation name and end station name both are null
big_df[(big_df['start_station_name'].isna()==True) & (big_df['end_station_name'].isna()==False)].groupby('bike_type')['ride_id'].count()
## for now decided to dropping these columns

bike_type
electric_bike    527471
Name: ride_id, dtype: int64

Dropping all the records containing nulls

In [9]:
big_df.dropna(subset=['start_station_name'],inplace=True)
big_df.dropna(subset=['end_station_name'],inplace=True)

In [10]:
# Expected number of records : 9483215-1866164 = 7617051
big_df.shape

(7617051, 13)

In [ ]:
big_df.reset_index(drop=True,inplace=True)

In [ ]:
big_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7617051 entries, 0 to 7617050
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   bike_type           object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_type         object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 755.5+ MB

#### Duplicate Values

In [ ]:
big_df.duplicated().sum() # no dulpicates (0)

0

#### Data Validations
* ride_id 
  * is primary_key so must be unique
  * length of ride_id
  * datatype
* bike_type
  * all possible values	
* started_at
  * datatype must be datetime 
  * no future dates data
* ended_at 
  * datatype must be datetime 
  * no ende_at < started_at
* start_station_name/ end_station_name
  * remove white spaces
*

##### ride_id

In [ ]:
big_df['ride_id'].describe()

count              9483215
unique             9483215
top       550CF7EFEAE0C618
freq                     1
Name: ride_id, dtype: object

In [ ]:
big_df['ride_id'].apply(len).agg(['min','max'])

min    16
max    16
Name: ride_id, dtype: int64

##### bike_type

In [ ]:
big_df['bike_type'].unique()

array(['electric_bike', 'classic_bike', 'docked_bike'], dtype=object)

##### started_at and ended_at

In [ ]:
# checking records start date is greater than end date
big_df[(big_df['started_at']>big_df['ended_at'])]['ride_id'].count()

146

In [11]:
# removed the records where start date is greater than end date
big_df.drop(big_df[(big_df['started_at']>big_df['ended_at'])].index,inplace=True)

In [12]:
# expected records 7617051-146 = 7616905
big_df.shape

(7616905, 13)

In [ ]:
# maximum value of start date
big_df['started_at'].max()

Timestamp('2022-08-31 23:58:50')

In [ ]:
# maximum value of start date
big_df['ended_at'].max()

Timestamp('2022-09-01 19:10:49')

##### start_station_name/end_station_name :

In [13]:
big_df['start_station_name']=big_df['start_station_name'].str.strip()
big_df['end_station_name']=big_df['start_station_name'].str.strip()

##### member_type

In [ ]:
big_df['member_type'].unique()

array(['casual', 'member'], dtype=object)

#### copy of cleaned datset

In [14]:
cyc_cleaned_dataset=big_df.copy()

## Analyze

#### Adding new columns
* trip_duartion_min : ended_at - started_at
* start_date
* day_of_week - 0:Mon to 6:Sun
* time_of_day - 0-6: Mor, 6-12: Aft, 12-18: Even, 18-24: Night
* hour_of_day

#### trip_duration_min

In [16]:
cyc_cleaned_dataset['trip_duration_min']=round((cyc_cleaned_dataset['ended_at']-cyc_cleaned_dataset['started_at']).dt.seconds / 60,2)

In [17]:
cyc_cleaned_dataset['trip_duration_min'].agg(['min','max'])

min       0.00
max    1439.95
Name: trip_duration_min, dtype: float64

In [19]:
# removing rows with trip duration less than minute
cyc_cleaned_dataset[cyc_cleaned_dataset['trip_duration_min']<1.00]['ride_id'].count()

110667

In [21]:
cyc_cleaned_dataset.drop(cyc_cleaned_dataset[cyc_cleaned_dataset['trip_duration_min']<1.00].index,inplace=True)

In [22]:
cyc_cleaned_dataset.shape # 7616905 - 110667 = 7506238

(7506238, 14)

#### start_date

In [23]:
## start_date
cyc_cleaned_dataset['start_date']=cyc_cleaned_dataset['started_at'].dt.date

#### day_of_week

In [30]:
cyc_cleaned_dataset['day_of_week']=cyc_cleaned_dataset['started_at'].dt.dayofweek
cyc_cleaned_dataset['day_of_week']=cyc_cleaned_dataset['day_of_week'].map({0:'Mon',1:'Tue',2:'Wed',3:'Thu',4:'Fri',5:'Sat',6:'Sun'})

In [32]:
cyc_cleaned_dataset['day_of_week'].unique()

array(['Fri', 'Sun', 'Sat', 'Tue', 'Wed', 'Thu', 'Mon'], dtype=object)

#### time_of_day

In [33]:
def tod(hour):
	if hour in range(0,6):
		return "Night"
	elif hour in range(6,12):
		return "Morning"
	elif hour in range(12,18):
		return "Afternoon"
	elif hour in range(18,24):
		return "Evening"

In [35]:
cyc_cleaned_dataset['time_of_day']=cyc_cleaned_dataset['started_at'].dt.hour.map(tod)

#### hour_of_day

In [36]:
cyc_cleaned_dataset['hour_of_day']=cyc_cleaned_dataset['started_at'].dt.hour

## Exporting cleaned and processed datset

In [42]:
cyc_processed_dataset=cyc_cleaned_dataset.copy()

In [45]:
cyc_processed_dataset.drop(columns=['start_station_id','end_station_id','start_lat','end_lat','start_lng','end_lng'],inplace=True)

In [47]:
cyc_processed_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7506238 entries, 142 to 9483214
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   bike_type           object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   end_station_name    object
 6   member_type         object
 7   trip_duration_min   float64
 8   start_date          object
 9   day_of_week         object
 10  time_of_day         object
 11  hour_of_day         int64
dtypes: datetime64[ns](2), float64(1), int64(1), object(8)
memory usage: 1002.5+ MB

In [51]:
cyc_processed_dataset.head()

,ride_id,bike_type,started_at,ended_at,start_station_name,end_station_name,member_type,trip_duration_min,start_date,day_of_week,time_of_day,hour_of_day
0,241C440C74CB31BB,classic_bike,2022-08-05 16:13:36,2022-08-05 16:22:40,DuSable Museum,DuSable Museum,casual,9.07,2022-08-05,Fri,Afternoon,16
1,C34EE790A58C0434,classic_bike,2022-08-21 14:09:08,2022-08-21 15:10:46,California Ave & Division St,California Ave & Division St,casual,61.63,2022-08-21,Sun,Afternoon,14
2,49259B4BA064D81B,electric_bike,2022-08-21 16:15:12,2022-08-21 16:29:30,Wood St & Chicago Ave,Wood St & Chicago Ave,casual,14.30,2022-08-21,Sun,Afternoon,16
3,BEE91D557E47FE83,classic_bike,2022-08-21 02:11:26,2022-08-21 03:44:04,California Ave & Milwaukee Ave,California Ave & Milwaukee Ave,casual,92.63,2022-08-21,Sun,Night,2
4,5221F9363BD7E5B6,electric_bike,2022-08-20 00:25:36,2022-08-20 00:27:20,California Ave & Milwaukee Ave,California Ave & Milwaukee Ave,casual,1.73,2022-08-20,Sat,Night,0

In [52]:
cyc_processed_dataset.to_csv('cyclistic_processed_dataset.csv')